<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="catalog_controller_product_view">
        <observer name="observer" instance="Rathan\PluginDemo\Observer\Product" />
    </event>    
</config>